@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Hide scrollbar completely */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: none;
  }
  
  /* For IE and Edge */
  * {
    -ms-overflow-style: none;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 60s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
